*{
    margin:0;
    padding: 0;
}
:root{
    font-size: 16px;
    overflow-x: hidden;
}
#main-box{
    width: 100vw;
}
#secc-00{
    display:grid;

    grid-template-areas: "imagen rese"
                        "imagen perso";
}
#secc-00 > img{
    grid-area: imagen;
    justify-self: center;
    align-self: center;
    width: 90%;
    height:auto;
}
#secc-00 > p{
     padding: 1em 1em;
     
}
#secc-00:nth-child(2) {
    grid-area: rese;
}
#secc-00:nth-child(3){
    grid-area: perso;
    
}
