* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    
}

header {
    position: relative;
    background-color: #4484ce;
    color: rgb(255, 255, 255);
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");    border-bottom: solid 2px #2f79ce;
    height: 4rem;
}
header > img{
    position:absolute;
    display:block;
    width: 68px;
    height: auto;
    top:30%;
    left:calc(50% - 32px);
    border-radius: 40%;
    animation: logo-move 4s ease;
    animation-fill-mode: forwards;
    

    
}

header >nav {
   position: absolute;
   top:-50px;
   left:1%;
   font-size: 0.8rem;
   padding: 1em 0.5em 0.5em 0.5em;
   display:inline;
   background-color: rgba(68,132,206,0.6);
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
   box-shadow: 2px 2px 10px black;
   animation: mymove 0.5s ease;
   animation-fill-mode: forwards;

}
header > nav > a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    
}

#main-box {
    max-width: 1000px;
    margin:0 auto;
    background-color: rgb(247, 247, 247);
}


/* secc-00 -----------------------------------
------------------------------------------------------*/

#secc-00 {
    display: grid;
    grid-template-areas: "titulo" "rese" "imagen" "perso";
}

#secc-00>h1 {
    grid-area: titulo;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 10px;
    color: #383838;
    justify-self: center;
    align-self: flex-start;
    margin-top: 0.6em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#secc-00>img {
    grid-area: imagen;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: auto;
}

.p-box {
    font-size: 1.3rem;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    text-align: center;
}

#rese-box {
    width: 90%;
    justify-self: center;
    border-radius: 20px;
    grid-area: rese;
    /*background-image: linear-gradient(90deg,#383838,#6d6d6d);*/
    color: #383838;
    margin-bottom: 1rem;
}

#rese-box>p::first-letter {
    font-size: 3rem;
    font-weight: 700;
}

#perso-box {
    grid-area: perso;
    width: 90%;
    justify-self: center;
    margin: 2em 0;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #965151, #993636);
    color: rgb(255, 255, 255);
    padding: 1rem;
}
#perso-box > p{
    font-size: 2rem;
    font-weight: bolder;
    font-stretch: ultra-expanded;
}


/* secc-0 */

#secc-0 {
    padding: 0 2rem;
}

#secc-0>h1 {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #383838;
    text-align: center;
    margin: 1rem 0;
}

#secc-0>h2 {
    font-size: 1.1em;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #2f79ce, rgb(247, 247, 247));
    color: white;
    padding: 0.2em;
    border-radius: 1px;
}

#secc-0>p {
    padding: 1rem 0;
    ;
}

.armado-ele-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 0rem;
}

.armado-ele-box h3 {
    font-size: 0.7rem;
    text-align: center;
    padding: 0.6em;
    text-transform: uppercase;
}

.armado-ele-box img {
    width: 64px;
    height: auto;
}

.armado-ele-box>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
}

.backup-net-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: solid 3px black;
    border-radius: 2px;
    margin-bottom: 3rem;
}

.backup-net-box>div>img {
    width: 64px;
    height: auto;
}

.backup-net-box>div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 0.5rem 0;
}

.backup-net-box>h2 {
    text-transform: uppercase;
    font-size: 2rem;
    background-color: black;
    color: white;
    text-align: center;
}


/*secc-01 --------------------------------------------
--------------------------------------------------*/

#secc-1 {
    /*background-color: #929292;*/
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

#secc-1>div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 0;
}

#secc-1 img {
    width: 64px;
    height: auto;
}

#secc-1 ul {
    list-style-type: square;
}

#secc-1 li {
    font-size: 1rem;
}

#secc-1 h2 {
    font-size: 1.7rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer {
    background-color: #383838;
    font-size: 1rem;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px black;
        background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");    border-bottom: solid 2px #2f79ce;

}

footer>a {
    color: rgb(255, 255, 255);
    padding-bottom:1em;
}

footer a:last-child {
    display: none;
}
@keyframes mymove {
    from {top: -50px;}
    to {top: 0px;}
  }
  @keyframes logo-move {
    from {opacity: 0;}
    to {opacity: 1;}
  }